<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="validationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <siteMap defaultProvider="MenuProvider" enabled="true">
        <providers>
          <add name="MenuProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="HeaderMenu.siteMap"/>
        </providers>
      </siteMap>
    </system.web>
  <connectionStrings>
    <add name="DAN" connectionString="Data Source=MSI; Initial Catalog=SHOPGIAY; User ID=sa; Password=123"/> 
  </connectionStrings>
    
</configuration>
